#main {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80vh;

    section{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        #logo{
            width: 50%;
            height: 50%;
        }

        form {
            margin-top: 10px;
                display: grid;
                width: 100%;
                grid-template-columns: 80% 20%;
                input[type=text] {
                        width: 100%;
                        border: 1px solid black;
                }
                input {
                        padding: 10px;
                }
                input[type=submit] {
                        background-color: white;
                        border: 1px solid black;
                }
                input[type=submit]:hover {
                        color: white;
                        cursor: pointer;
                        background-color: #EF4B4D
                }
        }
    }
}

